$primary: rgb(254 205 211);;
$secondary: #fafafa;
@import './functions';
@import './variables';


$custom-theme-colors: (
    'deeppinks': #ff7dd8,
    'pinks': #fff5fc,
    'gold': #ffd374,
    'blues': #b7e8fc,
    'ddd': #ddd,
    '2d2d2d':#2d2d2d,
    'gray': #ebebeb
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

::placeholder{
    color: #ccc !important;
}


@import './bootstrap.scss';

@font-face {
    font-family: 'openhuninn';
    src: url('../font/jf-openhuninn-1.1.ttf');
}


.bg-op {
    background-color: rgba(110, 110, 110, 0.8);
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.text-justify {
    text-align: justify;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'openhuninn';
}


p {
    letter-spacing: 2px;
    font-size: 17px;
    line-height: calc(17px * 1.8);
    color: #747474;
}

img {
    width: 100%;
}

section {
    padding-top: 70px;
    height: 100vh;
}

.rounded-50 {
    border-radius: 50%;
}

@media (max-width: 1400px) {

    section,
    .row {
        height: 100% !important;
    }
}

.navbar {
    transition: all .4s ease;
    background-image: url('../images/navbar.png');
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 992px) {
        background-image: none;
        background-color: #2d2d2d;
    }

    .nav-item {
        font-size: 18px;
        padding-left: 2.5em;
        text-align: center;

        @media (max-width: 576px) {
            padding: 0;
        }
    }

    .nav-link {
        position: relative;
        font-weight: bold;
        color: #fff;

        &:hover {
            color: #eee;
        }

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 0;
            height: 4px;
            transform: translate(-50%, 0);
            background-color: #ffb1e8;
            transition: all .4s ease;
        }

        &:hover::after {
            width: 100%;

            @media (max-width: 576px) {
                width: 0;
            }
        }
    }
}

.carousel-caption.a {
    inset: 0;
    top: 18%;
    left: 35%;
    transform: translate(-50%);
    width: 50%;
    height: 42%;
    padding-bottom: 8px;
    text-shadow: 5px 5px 15px pink;
    text-align: left;

    h3 {
        font-size: 8em;
        color: #fff;

        @media (max-width: 992px) {
            font-size: 4em;
        }
    }

    p {
        color: #fff;
        font-size: 3.5em;
        line-height: 2;

        @media (max-width:992px) {
            font-size: 1.5em;
        }

    }
}

.carousel-caption.b {
    inset: 0;
    top: 20%;
    left: 5%;
    width: 30%;
    height: 100%;
    text-align: left;
    text-shadow: 5px 5px 15px #2d2d2d;

    @media (max-width: 992px) {
        top: 50%;
        
        left: 50%;

        transform: translateY(-100px);
    }

    h3 {
        font-size: 6em;
        color: #2d2d2d;
        text-shadow: 5px 5px 15px #2d2d2d;
        width: 100vw;


        @media (max-width: 992px) {
            font-size: 3em;
        }
    }

    p {
        color: #fff;
        font-size: 2.5em;
        line-height: 2;
        width: 100%;

        @media (max-width:992px) {
            font-size: 1.5em;
        }

    }
}

.carousel-caption.c {
    inset: 0;
    top: 40%;
    left: 50%;
    width: 45%;
    height: 40%;
    text-align: left;
    text-shadow: 5px 5px 15px #2d2d2d;

    h3 {
        font-size: 4em;
        color: #fff;
    }

    p {
        font-size: 1.8em;
        color: #fff;
    }
}

#about {
    background-image: url('../images/dot.jpg');
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

#news {
    background-image: url('../images/new.png');
    background-size: cover;
    background-position: center;
}

#shop {
    padding-top: 90px;
    .mycard {
        background-color: #fff;
    }

    .myshadow {
        box-shadow: 10px 10px #ff7dd880;
    }

    .ribbon {
        width: 75%;
        background-color: rgb(254 205 211);;
        z-index: 1;
        transform: rotate(35deg);
        right: -25%;
        top: 5%;
        text-align: center;
        color: #f0000090;
        padding: 5px;

    }
}

#contact {
    background-image: url('../images/contact.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cl-bg {
    background: #b7e8fc !important;
}

#sweet {
    background-image: url('../images/dot.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}